<launch>
  <arg name="rate" default="10" />
  <arg name="namespace" default="" />

  <group if="$(eval '' != namespace)" ns="$(arg namespace)">
    <node name="global_planner" pkg="larics_motion_planning" type="global_planner_node" output="screen">
      <param name="rate" value="$(arg rate)" />
      <param name="global_planner_config_file" value="$(find larics_motion_planning)/config/one_file_config_example.yaml" />
    </node>
  </group>

  <group if="$(eval '' == namespace)">
    <node name="global_planner" pkg="larics_motion_planning" type="global_planner_node" output="screen">
      <param name="rate" value="$(arg rate)" />
      <param name="global_planner_config_file" value="$(find larics_motion_planning)/config/one_file_config_example.yaml" />
    </node>
  </group>


</launch>