<launch>
  <arg name="planner_rate" default="10" />
  <arg name="namespace" default="red" />
  <arg name="model_namespace" default="model_uav" />
  <arg name="use_impedance" default="false" />
  <arg name="global_planner_config_file" default="$(find larics_motion_planning)/config/asap/arducopter_asap_manipulator_4r.yaml" />

  <!-- Before launching this file you need to launch planning context-->
  <!-- roslaunch asap_manipulator_4r planning_context.launch -->

  <group ns="$(arg namespace)" >
    <!-- Global planner generates path and/or trajectory based on desired waypoints.-->
    <!-- For debugging with gdb add: launch-prefix="gdb -ex run -_-args" -->
    <node name="global_planner" pkg="larics_motion_planning" type="global_planner_node" output="screen">
      <param name="rate" value="$(arg planner_rate)" />
      <param name="global_planner_config_file" value="$(arg global_planner_config_file)" />
      <param name="model_animation_dt_us" value="10" />
      <param name="model_uav_namespace" value="/$(arg model_namespace)" />

      <!-- visualization parameters -->
      <param name="state_scale" value="0.05" />
      <param name="waypoints_scale" value="0.5" />
    </node>
    
    <!-- Simple tracker that receives trajectory and sends it to the UAV. It also publishes current vehicle state.-->
    <node name="joint_trajectory_reference_tracker" pkg="larics_motion_planning" type="joint_trajectory_reference_tracker.py" output="screen">
      <!--remap from="reference_tracker/joint_trajectory_point" to="aerial_manipulator_control/trajectory_ref_input" /-->
      <remap from="reference_tracker/joint_trajectory" to="joint_trajectory" />
    </node>

    <!-- A helper node for delaying some parts of the trajectory. In this case it delays force because the UAV lags behind the referent trajectory due to the impedance filter.-->
    <group if="$(arg use_impedance)">
    <node name="impedance_joint_trajectory_handler" pkg="larics_motion_planning" type="impedance_joint_trajectory_handler.py" output="screen">
      <remap from="impedance_joint_trajectory_handler/joint_trajectory_point_in" to="reference_tracker/joint_trajectory_point" />
      <remap from="impedance_joint_trajectory_handler/joint_trajectory_point_out" to="aerial_manipulator_control/trajectory_ref_input" />
      <param name="delay_time" value="0.5" />
    </node>
    </group>

    <!-- Node that plans a straight trajectory to the end point upon request. -->
    <node name="go_to_reference" pkg="larics_motion_planning" type="go_to_reference.py" output="screen">
      <remap from="go_to/trajectory_request" to="multi_dof_trajectory" />
      <remap from="go_to/joint_trajectory" to="joint_trajectory" />
      <remap from="go_to/current_state" to="reference_tracker/current_reference" />
    </node>

    <node name="generate_toppra_trajectory" pkg="topp_ros" type="generate_toppra_trajectory.py" output="screen" />

    <!--node name="octomap_server_node" pkg="octomap_server" type="octomap_server_node" args="$(find larics_gazebo_worlds)/models/greenhouse_row/greenhouse_row.binvox.bt" output="screen">
      <param name="frame_id" value="world" />
    </node-->

    <node name="map_to_world_transform_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 world map 10" />

  </group>

  <!-- This is the part where we get corrections based on model -->
  <!-- Don't start for now -->
  <group ns="$(arg model_namespace)" if="false">
    <node name="global_planner" pkg="larics_motion_planning" type="global_planner_node" output="screen">
      <param name="rate" value="$(arg planner_rate)" />
      <param name="global_planner_config_file" value="$(find larics_motion_planning)/config/asap/arducopter_asap_manipulator_4r.yaml" />
      <param name="model_uav_namespace" value="/none" />

      <!-- visualization parameters -->
      <param name="state_scale" value="0.05" />
      <param name="waypoints_scale" value="0.5" />
    </node>

    <node name="joint_trajectory_reference_tracker" pkg="larics_motion_planning" type="joint_trajectory_reference_tracker.py" output="screen">
      <!--remap from="reference_tracker/joint_trajectory_point" to="aerial_manipulator_control/trajectory_ref_input" /-->
      <remap from="reference_tracker/joint_trajectory" to="joint_trajectory" />
    </node>

    <group if="$(arg use_impedance)">
    <node name="impedance_joint_trajectory_handler" pkg="larics_motion_planning" type="impedance_joint_trajectory_handler.py" output="screen">
      <remap from="impedance_joint_trajectory_handler/joint_trajectory_point_in" to="reference_tracker/joint_trajectory_point" />
      <remap from="impedance_joint_trajectory_handler/joint_trajectory_point_out" to="aerial_manipulator_control/trajectory_ref_input" />
      <param name="delay_time" value="0.1" />
    </node>
    </group>


    <node name="go_to_reference" pkg="larics_motion_planning" type="go_to_reference.py" output="screen">
      <remap from="go_to/trajectory_request" to="multi_dof_trajectory" />
      <remap from="go_to/joint_trajectory" to="joint_trajectory" />
      <remap from="go_to/current_state" to="reference_tracker/current_reference" />
    </node>

    <node name="generate_toppra_trajectory" pkg="topp_ros" type="generate_toppra_trajectory.py" output="screen" />

    <group if="$(arg use_impedance)">
    <node name="model_trajectory_to_impedance" pkg="larics_motion_planning" type="model_trajectory_to_impedance.py" output="screen">
      <!--remap from="model_trajectory/joint_trajectory_point" to="aerial_manipulator_control/trajectory_ref_input"/-->
      <remap from="model_trajectory/joint_trajectory_point" to="reference_tracker/joint_trajectory_point"/>

      <param name="record_termination/roll" value="0.1" />
      <param name="record_termination/pitch" value="0.1" />
      <param name="record_termination/timer" value="2.0" />
    </node>
    </group>

    <group unless="$(arg use_impedance)">
    <node name="joint_trajectory_to_uav_and_asap_manipulator_4r_through_service" pkg="larics_motion_planning" type="joint_trajectory_to_uav_and_asap_manipulator_4r_through_service.py" output="screen">
    </node>
    </group>

  </group>

</launch>
